In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
connection = "mysql+pymysql://root:root@localhost/sakila"

In [4]:
engine = create_engine(connection)

In [5]:
engine

Engine(mysql+pymysql://root:***@localhost/sakila)

In [6]:
q = """SHOW Tables;"""
pd.read_sql(q, engine)

              Tables_in_sakila
0                        actor
1                   actor_info
2                      address
3                     category
4                         city
5                      country
6                     customer
7                customer_list
8                         film
9                   film_actor
10               film_category
11                   film_list
12                   film_text
13                   inventory
14                    language
15  nicer_but_slower_film_list
16                     payment
17                      rental
18      sales_by_film_category
19              sales_by_store
20                       staff
21                  staff_list
22                       store